{% import 'macro/focal_point_image' as focalMacro %}

{% set relatedEntries = craft.entries.section(handle).orderBy('postDate').limit(-1).id('not ' ~id).all() %}

{% if relatedEntries | length %}
    <section class="related-entries">
        <div class="_wr">
            <div class="small-title center">
                <h3>{{ smallTitle }}</h3>
            </div>
            <div class="entries">
                <div class="swiper js-related-swiper">
                    <div class="swiper-wrapper">
                        {% for rEntry in relatedEntries %}
                            {% set rTitle      = rEntry.title %}
                            {% set rUrl        = rEntry.url %}
                            {% set rExc        = rEntry.articleExcerpt | nl2br %}
                            {% set rImg        = rEntry.articleImage.one() %}
                            {% set placeholder = siteUrl('assets/build/src/img/article-placeholder.jpg') %}

                            <div class="swiper-slide type-{{ handle }}">
                                <a href="{{ rUrl }}" class="in">
                                    <div class="img" style="{{ rImg ? focalMacro.pointImage(rImg) : 'background-image: url(' ~ placeholder ~ ')' }}"></div>
                                    <div class="r-content">
                                        <h3>{{ rTitle }}</h3>
                                        {% if rExc %}
                                            <div class="excerpt">
                                                {{ rExc | raw }}
                                            </div>
                                        {% endif %}
                                        <div class="les-mer">
                                            <span>Les mer</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
