{% import 'macro/focal_point_image' as focalMacro %}

{% set artTitle   = customer.title %}
{% set artUrl     = customer.url %}
{% set artImage   = customer.articleImage.one() %}
{% set artExcerpt = customer.articleExcerpt | nl2br %}

<div class="card js-card -customer{{ index > 4 ? ' hidden' }}">
    <a href="{{ artUrl }}">
        <div class="content">
            <div class="img" style="{{ focalMacro.pointImage(artImage) }}"></div>
            <div class="content-part">
                <div class="card-title">
                    <h3>{{ artTitle }}</h3>
                </div>
                <div class="card-excerpt">
                    {{ artExcerpt | raw }}
                </div>
                <div class="les-mer">
                    Les mer
                </div>
            </div>
        </div>
    </a>
</div>